body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.chat__main {
  display: flex;
}

.chat__history {
  border:  1px solid;
  border-right: 0;
  flex: 1 1 20%;
}

.chat__conversation {
  border: 1px solid;
  flex: 1 1 80%;
}
